
<p>home works!</p>

<!-- oru link koduth redirect cheyyan simple,but it is difficult to do it in button ,it is a different topic and it will take tommorrow -->

<div class="row">
    <!-- <div class="col-6">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="button">View Profile</button>
            <button class="btn btn-primary" type="button">Balance Check</button>
            <button class="btn btn-primary" type="button">Money Transfer</button>
            <button class="btn btn-primary" type="button">Account Statement</button>
            <button class="btn btn-primary" type="button">Logout</button>
            <button class="btn btn-primary" type="button">Delete Account</button>
          </div>
        </div> -->

        <div class="list-group col-6">
            <!-- <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
              The current button
            </button> -->
            <button type="button" class="list-group-item list-group-item-action bg-success text-white">View Profile</button>
            <button type="button" class="list-group-item list-group-item-action bg-success text-white">Balance Check</button>
            <button type="button" class="list-group-item list-group-item-action bg-success text-white">Money Transfer</button>
            <button type="button" class="list-group-item list-group-item-action bg-success text-white" disabled>Account Statement</button>
            <button type="button" class="list-group-item list-group-item-action bg-success text-white" disabled>Logout</button>
            <button type="button" class="list-group-item list-group-item-action bg-danger text-white" disabled>Delete Account</button>

          </div>

    <div class="col-6">
        <h1>Banking</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nesciunt quod accusamus. Eveniet cum quisquam dolorem molestias, magni officiis nesciunt blanditiis voluptatibus ea reprehenderit laboriosam, maiores asperiores animi id ad?</p>
    </div>
</div>